.text{
    font-family: Verdana, Geneva, Tahoma, sans-serif
    
}

body{
    background-color: rgb(255, 255, 255);
}
#list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0px;    
}


#li1 {
    display: flex;
    justify-content: flex-end; /*arreglar el codigo con java script */
    x:120px;
}
.boton{
    background-color: rgb(172, 172, 233);
    border-radius: 7px;
    border-width: 0;
    
}
#bar{
    background-color: aqua;

}
#barboton1{
    margin-left: auto;
}
#titulo{
    font-size: 26px;
    text-align: center;
}
.texto{
    margin-left: auto;
}

